.header {
  background-color: #052849;
  padding: 10px;
  display: block;
}

.logo {
  width: 120px;
}

.gridContainer {
  width: 100%;
}

.sideContainer {
  margin: 0 15px;
  height: 100%;
  /* margin-top: 35px; */
}

.sideProduct{
  padding: 15px 15px 15px;

  text-align: center;
}

.productImage {
  width: 65%;
}

.tags {
  padding: 5px 20px 5px !important;
  text-transform: initial !important;
  margin: 5px 5px 0 0 !important;
  color: #181818 !important;
  font-size: 11px !important;
  border: .5px solid #c7cfd9 !important;
}

.chartContainer,.tableContainer{
  margin-right: 15px;
  /* height: 100%; */
  /* top: 0; */
  overflow: hidden;
  /* margin-top: 35px; */
}

.title {
  padding-left: 15px;
}
