.header {
  text-align: left;
  background-color: #052849;
  padding: 10px;
}

.logo {
  width: 120px;
}

.gridContainer {

}

.sideContainer {
  margin-left: 15px;
  height: 100%;

}

.sideProduct{
  padding-top: 15px;
  padding-right: 15px;
  text-align: center;
}

.tags {
  padding: 5px 20px 5px !important;
  text-transform: initial !important;
  margin: 5px 5px 0 0 !important;
  color: #181818 !important;
  font-size: 11px !important;
  border: .5px solid #c7cfd9 !important;
}
